.auth {
  display: flex;
  height: calc(90vh - 5rem);
  justify-content: center;
  align-items: center;

  .container {
    font-size: 1.5rem;
    padding: 3rem 5rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    p {
      color: #5d87ff;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      font-size: 3rem;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      padding: 2.5rem 0rem;

      input {
        outline: none;
        color: black;
        font-size: 1.2rem;
        padding: 0.7rem 1rem;
        border-radius: 0.5rem;
        border: 2px solid rgb(245, 239, 239);
        -webkit-transition: 0.5s;
        transition: 0.3s;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
          rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

        &:focus {
          border: 2px solid #5d87ff;
        }
      }

      span {
        font-size: 1rem;
        margin-top: -1rem;
        color: rgb(192, 39, 39);
      }

      button {
        width: 100%;
        border: none;
        cursor: pointer;
        border-radius: 0.2rem;
        padding: 0.6rem 0rem;

        background-color: #5d87ff;
        color: #ffffff;
        font-weight: 500;
        font-size: 1.2rem;

        &:hover {
          background-color: #3b6fff;
          transition: 0.2s ease-in;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
            rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
        }
      }
    }
  }
}
