/* =========================== PERFORMANCE =========================== */

.performance {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}

.head-section {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    border: 2px solid #5d87ff;
    background-color: transparent;
  }

  .left {
    font-weight: 600;
    border-radius: 1.5rem 0rem 0rem 1.5rem;

    &.active {
      color: #ffffff;
      background-color: #5d87ff;
    }
  }

  .right {
    border-radius: 0rem 1.5rem 1.5rem 0rem;

    &.active {
      color: #ffffff;
      background-color: #5d87ff;
    }
  }
}

/* =========================== OVERVIEW =========================== */

.overview {
  width: 95%;
  display: flex;
  align-items: center;
  margin: 3rem auto;

  .overview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
