.fullscreen-loader {
  display: flex;
  height: calc(100vh - 5rem);
  align-items: center;
  justify-content: center;

  .container {
    font-size: 2rem;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
